html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #e8ceac;
}

.calculator {
  text-align: center;
  width: 300px;
  padding: 20px;
  background: #df9339;
}

button {
  border: 0;
  background: none;
  width: auto;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}
