html,
body {
  height: 100%;
}

body {
  background: #e8ceac;
}
/* https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.calculator {
  text-align: center;
  width: 100%;
  background: #df9339;
}
@media (min-width: 400px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .calculator {
    width: 340px;
    padding: 20px;
  }
}

button {
  border: 0;
  background: none;
  width: auto;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}
